@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.App {
  text-align: center;
}
body{
  background-color:#333;
}
.navbar {
  top: 0;
  width:100%;
  background-color:#333;
  height:50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color:white;
}

.navlink {
  display: inline;
  text-decoration: none;
  padding-right: 15px;
  cursor: pointer;
  padding-left: 15px;
  height: inherit;
  color:white;
  @include center();
  font-size: 20pt;
}
.navlink:visited {
  text-decoration: none;
  color:white;
}
  
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-horizontal {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

td {
  width:200px;
}

.back {
  line-height: 75px;
  width: 150px;
  height: 75px;
  margin-right: 100px;
  border-radius: 25px;
  background-color: #40de62;
}

.grid-parent {
  grid-column-start: 2;
  grid-row: 1;
  display: grid;
  grid-gap: 20px 80px;
  padding: 25px;
  border: 2px solid white;
  border-radius: 25px;
}

.next{
  line-height: 75px;
  width: 150px;
  height: 75px;
  margin-left: 100px;
  border-radius: 25px;
  background-color: #40de62;
}
.grid-image {
  grid-column-start: 1;
  grid-column-end: 3;
  border: 1px solid white;
  border-radius: 25px;
}

.pokesprite {
  width: 250px;
  height: 250px;
}

.grid-info {
  border: 1px solid white;
  border-radius: 5px;
  width: 350px;
}

.query {
  width: 600px;
  height: 50px;
  font-size: 24pt;
  margin-bottom: 30px;
}
.gallery-parent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.gallery-tile {
  border: 2px solid white;
  border-radius: 25px;
  margin: 10px 10px 10px 10px;
}

.types {
  display: grid;
  grid-gap: 10px 20px;
  grid-template-columns: repeat(5, 1fr);
}

.clear {
  margin-bottom: 20px;
}

